
@model TIYSportsPage.ViewModel.HomePage


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-10">
            <h1>TIY Sports</h1>
            <span><i class="glyphicon glyphicon-heart"></i>  For the students of The Iron Yard</span>
        </div>

        <div class="col-md-pull-2">
            <img src="~/Images/sports.jpg" class="img-circle" alt="Sports" width="150" height="150">
        </div>
    </div>
</div>


<div class="row">
    @foreach (var sport in Model.Sports)
    {
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="@sport.SportImage" alt="Football">
                <div class="caption">
                    <h3 class="text-center">@sport.SportName</h3>
                </div>
            </div>
        </div>
    }

</div>

<br /><br />


<div class="alert alert-danger" role="alert">
    <span>We've added some brand new features in version 2.0!</span>
    <a href="www.nytimes.com">Learn More</a>
</div>


<div class="well">
    <div class="col-sm-4">
        <div class="pull-left">
            <span><i class="glyphicon glyphicon-user"></i>  Please log in to edit</span>
        </div>
    </div>
    <div class="col-sm-offset-10">
        <a href="www.facebook.com">
            <img src="~/Images/facebook.png" width="125" height="35">
        </a>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-play-circle"></span> Teams
        <span class="control-label badge pull-right">317 Teams</span>
    </div>

    <ul class="list-group">
        @foreach (var hometeam in Model.HomeTeams)
        {        
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1">
                            <img src="@hometeam.TeamImage" class="img-rounded" width="64" height="64">
                        </div>
                        <div class="col-xs-10">
                            <h3>@hometeam.HomeTeamName</h3>
                            @hometeam.TeamDescription
                        </div>
                        <div>
                            <span class="badge">@hometeam.NumOfPlayers</span>
                        </div>
                    </div>
                </div>
            </li>
        }

        <li>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </li>
    </ul>
</div>

<br /><br />

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-check"></span> Games</div>

    <!-- Table -->
    <table class="table">
        @foreach (var item in collection)
        {

        }
        <tr>
            <th>#</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Tampa Dart Dynamics</td>
            <td>Buffalo Bullseyes</td>
            <td>20-17</td>
        </tr>
        <tr>
            <td>2</td>
            <td>St. Pete Ping Pong Power House</td>
            <td>Philly Paddlers</td>
            <td>18-12</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Orlando Golf Gang</td>
            <td>Portland Putters</td>
            <td>2-1</td>
        </tr>
    </table>
</div>